	#navbar {
		height: 8%;
}

	.navbar-logo {
		position: fixed;
		background-image: url('/static/img/logo8.png');
		background-position: left;
		width: 100%;
		height: 46px;
		background-repeat: no-repeat;
		margin-top: 0.3%;
}


	.backgroundImage {
		position: fixed;
		width: 100%;
		background-repeat: no-repeat;
		height: auto;
  		background-size: cover;
  		background-position: center;
}

 	#banner {
		  position: relative;
		  display: flex;
  		  width: 100%;	
  		  margin-top: 10%;  
}

