/* Navigation Bar */
	#navbar {
		height: 8%;
}

	.navbar-logo {
		position: fixed;
		background-image: url('/static/media/logo8.png');
		background-position: left;
		width: 200px;
		height: 46px;
		background-repeat: no-repeat;
		margin-top: 0.3%;
}

/* Layout */
	html {
		background-image: url('/static/media/background12.jpg');
    	position: fixed;
 		width: 100%;
 		height: 100%;
 		background-repeat: no-repeat;
 		height: auto;
   		background-size: cover;
   		background-position: center;
}

	body{
		background-color: transparent;
}

/* Index Page */
 	#banner {
		position: relative;
		display: flex;
  		width: 100%;	
  		margin-top: 80px;  
}

 	#bannerSmall {
		position: relative;	
}

/* About Page */
	iframe {
		width:100%;
		height:300px;
		margin-top: 14%;
		margin-left: 10%;
}

	#inner-container {
		margin-top: 60px;
		color: white;
}

/* Graphs Page */
	.row {
		padding-top: 60px;
}

	.chart-wrapper {
		background-color: transparent;
		border: 0px;
		margin-bottom: -50px;		
}

	.chart-wrapper .chart-title {
		text-align: center;
		color: #fff;
		border-bottom: 0px;
		font-size: 20px;
}

	.chart-wrapper .chart-stage {
		text-align: center;		
}

	.dc-chart .pie-slice {
    	fill: black;
    	font-size: 15px;
    	cursor: crosshair;
}

	#index-chart {
		margin-bottom: 60px;
		width: 255px;
}

	#life-expectancy-chart {
		width: 255px;
}

	#number-projects-nd {
		background: #007ba5;		
        position: relative;
        width: 100%;
        font-size: 30px;
        color: white;
        vertical-align: center;
        padding-top: 15px;
        padding-bottom: 0px;
        border: 1px solid transparent;
        border-radius: 20px; 
}

 /* Mobile Responsive */
	@media (max-width: 406px) {
		#bannerSmall {
			margin-top: 20px;
		}
}

	@media (max-width: 800px) {
    	.chart-wrapper {
        	margin-bottom:0;
		}

    	iframe {
    		margin: 0px 0px 20px 0px;     	
		}
}
		
	@media (max-width: 1200px) {
		#World-chart {
			padding-bottom: 40px;
		}

		#index-chart {
			width: 100%;
			margin-bottom: 30px;
		}
		
		#life-expectancy-chart {
			width: 100%;
			margin-bottom: 30px;
		}
}





