{% extends "layout.html" %}
{% block content %}
 
<div class="container-fluid">
	
	<div id="inner-container">
		<div class="col-sm-6">
		
			<header id="aboutHeading">
				<h1> What Are We About?</h1>
			</header>

			<article id="aboutArticle" >
				<p>The Happy Planet Index measures what matters: sustainable wellbeing for all. It tells us how well nations are doing at achieving long, happy, sustainable lives.
				Wealthy Western countries, often seen as the standard of success, do not rank highly on the Happy Planet Index.  Instead, several countries in Latin America and the Asia Pacific region lead the way by achieving high life expectancy and wellbeing with much smaller Ecological Footprints.The Happy Planet Index provides a compass to guide nations, and shows that it is possible to live good lives without costing the Earth.</p>

				<p>This website was made using the happy planet index dataset to create an eye catching display of great visual graphs for users interested in quickly accesing information about countries around the world, without having to read through rows of data.These graphs will allow the user to view a countries happy planet index score, life expectancy and their population.The user can quickly and easily compare two or more countries life expectancy, happy planet index score and display the combined population of the countries being compared.</p>		
			</article>
		</div>

		<div class="col-sm-6">  		
  			<iframe src="https://www.youtube.com/embed/M1o3FS0awtk" frameborder="0" allowfullscreen>
  			</iframe>		
		</div>
	</div>				
</div>

{% endblock %}

