{% extends "layout.html" %}
{% block content %}
       
    <div  id="outer">
      
      	<!-- World Choropleth Chart -->
      	<div class="row">
        	<div class="col-sm-12 col-lg-9">
          		<div class="chart-wrapper">
            		<div class="chart-title">World Map</div>
          				<div class="chart-stage">
            				<div id="World-chart"></div>
          				</div>
          		</div>
        	</div>     

        <!-- Hpi Score Pie Chart -->
      	<div class="col-sm-12 col-md-6 col-lg-3">
            <div class="chart-wrapper">
              	<div class="chart-title">Happy Planet Index Score</div>
              		<div class="chart-stage">
                		<div id="index-chart"></div>
              		</div>
            </div>
    	</div>
    
    	<!-- Life Expectancy Chart -->
      	<div class="col-sm-12 col-md-6 col-lg-3">
      		<div class="chart-wrapper">
              	<div class="chart-title">Life Expectancy</div>
              		<div class="chart-stage">
                		<div id="life-expectancy-chart"></div>
              		</div>
            </div>
      	</div>
      </div>

      	<!-- Population Number Display -->
      	<div class="col-sm-12 col-md-12 col-lg-9">         
        	<div class="chart-wrapper">
          		<div class="chart-title">Total Population</div>
          			<div class="chart-stage"> 
            			<div id="number-projects-nd"></div>
          			</div>
        	</div>
      	</div>
  	</div>

{% endblock %}
